.HomePage {
  padding-bottom: 855px;
  padding: 100px;
}

.nameHome {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.skillsTitle {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  padding-top: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.descriptionCarlos {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-top: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 400px;
  margin-right: 400px;
}

.languages {
  color: aquamarine;
}

.colPhoto {
  padding-left: 70px;
}

.profilePhoto {
  height: 400px;
}

.projects {
  padding-bottom: 100px;
}

.projectsTitle {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 80px;
}

.timelineTitle {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 110px;
}

.nameHome::after {
  content: '|';
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
